doctype html
//[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]
//[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]
//[if IE 8]>         <html class="no-js lt-ie10 lt-ie9" xmlns:GM_V='ignored'> <![endif]
//[if IE 9]>         <html class="no-js lt-ie10"> <![endif]
//[if gt IE 9]><!
html.no-js
  //<![endif]

  head
    title Save the charlot date...
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="utf-8")

    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Antic+Didone")
    link(rel='stylesheet', href="/styles/stcd.css")

    script(src="/scripts/vendor/modernizr.js")
  body
    .fixed
      nav.top-bar(data-topbar, role="navigation")
        ul.title-area
          li.name
        section.top-bar-section
          ul.left
            li
              a(href) Home
            li
              a(href) RSVP
            li
              a(href) How to get there
            li
              a(href) Where to stay
            li
              a(href) The plan
            li
              a(href) Entertainment
    .background.background-1
      .row
        .small-12.medium-8.medium-centered.columns
          .text-block
            .text-center.fancy-text
              p.large Jessica &amp; James
              p invite you to a
              p.very-large Celebration
              p on
              p.large Saturday 9th July 2016
              p at
              p.large Charlot
              p Ste. Gemme, Mons&eacute;gur, 33580, France
    //- PAGE 2
    .background.background-2
      .row
        .small-12.columns
          .text-center
            h1.fancy-text RSVP
      .row
        .small-12.medium-8.columns.medium-centered
          .text-block
            form
              .row
                .small-12.columns.text-center
                  input(type="radio", name="attending", value="true", id="icanattend", checked)
                  label(for="icanattend") Count me in!
                  input(type="radio", name="attending", value="false", id="icantattend")
                  label(for="icantattend") I'm so sorry but I'm washing my hair
              .row
                .small-12.columns
                  label Name(s)
                    input(type="text", placeholder="Alain et Hélène")
              .row
                .small-12.columns
                  label Email
                    input(type="email", placeholder="ducasse@darroze.com")
              .row
                .small-12.columns
                  button.button.tiny.right(type="submit") RSVP
              .row
                .small-12.columns
                  label Where is Charlot anyway?
                  a(href="https://www.google.co.uk/maps/place/44°37'55.3%22N+0°04'57.4%22E")
                    img(src="https://maps.googleapis.com/maps/api/staticmap?center=44.635685,0.081953&zoom=8&maptype=roadmap&markers=color:blue%7C44.632032,0.082618&size=600x200")

    //- PAGE 3
    .background.background-3
      .row
        .small-12.columns
          .text-center
            h1.fancy-text How to get there
      .row
        .small-12.medium-8.large-12.columns.small-centered
          .text-block
            .row
              .small-12.large-4.columns
                .text-center
                  img(src="/images/airplane-icon.png", style="height: 51px;")
                  h3 Air
                p The nearest airports are Bordeaux (BA, Easyjet, Ryanair) and Bergerac (Flybe, Ryanair). Both are around 1 hour's drive from Charlot and you can hire cars at both airports. The Bergerac drive is notably prettier (and not on the motorway).
              .small-12.large-4.columns
                .text-center
                  img(src="/images/car-icon.png", style="height: 51px;")
                  h3 Road
                p London to Charlot is approximately 13 hours by car. There are of course plenty of beautiful places to stop along the way if you feel like taking it slower, and there are plenty of car parking spaces when you get there.
              .small-12.large-4.columns
                .text-center
                  img(src="/images/train-icon.png", style="height: 51px;")
                  h3 Train
                p The train from London to Bordeaux takes about 7 hours by TGV and requires a change in Paris. The nearest train station to Charlot is La R&eacute;ole which you can reach via a slow train from Bordeaux (~45 mins). La R&eacute;ole is still 20 mins from Charlot and there's no further public transport so you'll have to do some begging to get a lift...
            .row
              .small-12.columns
                .text-center
                  a.button(href="https://www.google.co.uk/maps/place/44°37'55.3%22N+0°04'57.4%22E") Show me a map of where Charlot is

    //- PAGE 4
    .background.background-4
      .row
        .small-12.columns
          .text-center
            h1.fancy-text Where to stay

      .row
        .small-12.medium-8.large-12.medium-centered.columns
          .text-block
            .row
              .small-12.large-6.columns
                .text-center
                  img(src="/images/tent-icon.png")
                  h3 Yurt village
                p We're going to try and build a village of Yurts. It'll look a lot like how we imagine Agincourt looked (if Genghis Kahn was at Agincourt?). The plan is to glam it up a bit - you know loos, showers, mirrors, actual beds etc. Everyone is welcome to stay in Yurt village on&nbsp;
                  i Friday 8th and Saturday 9th July
                  | &nbsp;night. 

                p Some caveats apply here... It's up to you to decide whether glamping will be up to your (we assume high) standards. We make no promises but will do our best. Also the village will be next to the house so if you want an early night on Saturday then you may want to go elsewhere...
                p.text-center
                  button.button Reserve me a bed in Yurt village
              .small-12.large-6.columns
                .text-center
                  img(src="/images/hotel-icon.png")
                  h3 B&amp;B's, hotels and houses
                p For those wanting their creature comforts there are plenty of places to stay nearby. While hotels are limited there are lots of houses to rent or Bed and Breakfasts.
                p Probably the best way to find places is to look on the wonderful Airbnb site (which you can get to by clicking the button below). We do know various people in the local area so do let us know if you are thinking of renting somewhere and we may be able to help/do some form of deal.
                  br
                  br
                  br
                p.text-center
                  a.button(href="https://www.airbnb.co.uk/s/Monsegur?sw_lat=44.600963398340184&sw_lng=0.041949803764737226&ne_lat=44.66468411181347&ne_lng=0.12863879912606535&zoom=13&search_by_map=true") Search for other accommodation

    script(src="/scripts/vendor/jquery.js")
    script(src="/scripts/foundation.min.js")
    script.
      $(document).foundation();


