doctype html
//[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]
//[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]
//[if IE 8]>         <html class="no-js lt-ie10 lt-ie9" xmlns:GM_V='ignored'> <![endif]
//[if IE 9]>         <html class="no-js lt-ie10"> <![endif]
//[if gt IE 9]><!
html.no-js
  //<![endif]

  head
    title Save the charlot date...
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Antic+Didone")
    link(rel='stylesheet', href="/styles/stcd.css")

  body
    .background
    ul.scene#scene(data-calibrate-x="true", data-calibrate-y="true")
      li.layer(data-depth="0.00")
      li.layer(data-depth="0.10")
        .location Summer 2016
      li.layer(data-depth="0.20")
        .title Jessica &amp; James
      


    script(src="/scripts/parallax.min.js")
    script.
      var scene = document.getElementById('scene');
      var parallax = new Parallax(scene);



