@import "normalize.less";
@import "foundation.less";

body, html, main {
  height: 100%;
  min-height: 100%;
}

.fancy-text {
  font-family: 'Antic Didone', 'serif';
}

.large {
  font-size: 2.5em;
}

.very-large {
  font-size: 3em;
}

#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.background-image(@image) {
  background-image: url(@image);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=@image, sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{image}', sizingMethod='scale')";
}

.background-1 {
  .background-image('../images/photo3.jpg');
}

.background-2 {
  .background-image('../images/IMG_0249.JPG')
}

.background-3 {
  .background-image('../images/IMG_1448.JPG')
}

.background-4 {
  .background-image('../images/IMG_1502.JPG')
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  body & h1 {
    color: #fff;
    text-shadow: 0 2px 1px #333;
  }
}

section {
  opacity: 0;
}

.loaded section {
  opacity: 1;
}

.section {
  position: relative;

  &.large-section {
    height: 150%;
  }
}

body .muted {
  color: #666;
}

.text-block {
  color: #333;
  // text-shadow: 0 2px 1px #000;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  // border-radius: 5px;
  // box-shadow: 0 2px 1px #000;
}

.page-title {
  font-family: 'Antic Didone', 'serif';
  text-align: center;
  margin-top: 20px;

  h1 {
    font-family: 'Antic Didone', 'serif';
  }
}